<div class='traitsDisplay' flex='auto'>
  <div class="hex-row">
    <div class="hex">
      <div class="top"></div>
      <div class="middle"><h2>{{data}}</h2><br><span clsss="stat">{{data}}</span></div>
      <div class="bottom"></div>
    </div>
    
    <div class="hex">
      <div class="top"></div>
      <div class="middle"><h2>{{data}}</h2><br><span clsss="stat">{{data}}</span></div>
      <div class="bottom"></div>
    </div>

    <div class="hex">
      <div class="top"></div>
      <div class="middle"><h2>{{data}}</h2><br><span clsss="stat">{{data}}</span></div>
      <div class="bottom"></div>
    </div>
  </div>

  <div class="hex-row even">
    <div class="hex">
      <div class="top"></div>
      <div class="middle"><h2>{{data}}</h2><br><span clsss="stat">{{data}}</span></div>
      <div class="bottom"></div>
    </div>

    <div class="hex">
      <div class="top"></div>
      <div class="middle"><h2>{{data}}</h2><br><span clsss="stat">{{data}}</span></div>
      <div class="bottom"></div>
    </div>

    <div class="hex">
      <div class="top"></div>
      <div class="middle"><h2>{{data}}</h2><br><span clsss="stat">{{data}}</span></div>
      <div class="bottom"></div>
    </div>
  </div>

  <div class="hex-row">
    <div class="hex">
      <div class="top"></div>
      <div class="middle"><h2>{{data}}</h2><br><span clsss="stat">{{data}}</span></div>
      <div class="bottom"></div>
    </div>

    <div class="hex">
      <div class="top"></div>
      <div class="middle"><h2>{{data}}</h2><br><span clsss="stat">{{data}}</span></div>
      <div class="bottom"></div>
    </div>

    <div class="hex">
      <div class="top"></div>
      <div class="middle"><h2>{{data}}</h2><br><span clsss="stat">{{data}}</span></div>
      <div class="bottom"></div>
    </div>
  </div>

  <div class="hex-row even">
    <div class="hex">
      <div class="top"></div>
      <div class="middle"><h2>{{data}}</h2><br><span clsss="stat">{{data}}</span></div>
      <div class="bottom"></div>
    </div>
    <div class="hex">
      <div class="top"></div>
      <div class="middle"><h2>{{data}}</h2><br><span clsss="stat">{{data}}</span></div>
      <div class="bottom"></div>
    </div>
    <div class="hex">
      <div class="top"></div>
      <div class="middle"><h2>{{data}}</h2><br><span clsss="stat">{{data}}</span></div>
      <div class="bottom"></div>
    </div>
  </div>
</div>
