<div class='traitsDisplay statDisplay' flex='auto'>
  <div class="hex-row">
    <div class="hex">
      <div class="top"></div>
      <div class="middle" style="background-image: url('../../assets/traitPics/socialLeft.png');"><h4>Extroversion</h4><br><span clsss="stat">{{data}}</span></div>
      <div class="bottom"></div>
    </div>


    <div class="hex">
      <div class="top"></div>
      <div class="middle" style="background-image: url('../../assets/traitPics/socialRight.png');"><h4>Introversion</h4><br><span clsss="stat">{{data}}</span></div>
      <div class="bottom"></div>
    </div>

    <div class="hex">
      <div class="top"></div>
      <div class="middle" style="background-image: url('../../assets/traitPics/thinking.png');"><h4>Thinking</h4><br><span clsss="stat">{{data}}</span></div>
      <div class="bottom"></div>
    </div>
  </div>

  <div class="hex-row even">
    <div class="hex">
      <div class="top"></div>
      <div class="middle" style="background-image: url('../../assets/traitPics/feeling.png');"><h4>Feeling</h4><br><span clsss="stat">{{data}}</span></div>
      <div class="bottom"></div>
    </div>

    <div class="hex">
      <div class="top"></div>
      <div class="middle" style="background-image: url('../../assets/traitPics/planning.png');"><h4>Planning</h4><br><span clsss="stat">{{data}}</span></div>
      <div class="bottom"></div>
    </div>

    <div class="hex">
      <div class="top"></div>
      <div class="middle" style="background-image: url('../../assets/traitPics/Spontaneous.png');"><h4>Spontaneous</h4><br><span clsss="stat">{{data}}</span></div>
      <div class="bottom"></div>
    </div>
  </div>

  <div class="hex-row">
    <div class="hex">
      <div class="top"></div>
      <div class="middle" style="background-image: url('../../assets/traitPics/leaderLeft.png');"><h4>Leader</h4><br><span clsss="stat">{{data}}</span></div>
      <div class="bottom"></div>
    </div>

    <div class="hex">
      <div class="top"></div>
      <div class="middle" style="background-image: url('../../assets/traitPics/leaderRight.png');"><h4>Do-er</h4><br><span clsss="stat">{{data}}</span></div>
      <div class="bottom"></div>
    </div>

    <div class="hex">
      <div class="top"></div>
      <div class="middle" style="background-image: url('../../assets/traitPics/ApproachabilityLeft.png');"><h4>Approa- chability</h4><br><span clsss="stat">{{data}}</span></div>
      <div class="bottom"></div>
    </div>
  </div>

  <div class="hex-row even">
    <div class="hex">
      <div class="top"></div>
      <div class="middle" style="background-image: url('../../assets/traitPics/ApproachabilityRight.png');"><h4>Lone Wolf</h4><br><span clsss="stat">{{data}}</span></div>
      <div class="bottom"></div>
    </div>
    <div class="hex">
      <div class="top"></div>
      <div class="middle" style="background-image: url('../../assets/traitPics/CommunicationLeft.png');"><h4>Verbal communicator</h4><br><span clsss="stat">{{data}}</span></div>
      <div class="bottom"></div>
    </div>
    <div class="hex">
      <div class="top"></div>
      <div class="middle" style="background-image: url('../../assets/traitPics/CommunicationRight.png');"><h4>Action Communicator</h4><br><span clsss="stat">{{data}}</span></div>
      <div class="bottom"></div>
    </div>
  </div>
</div>
