body{
  background: linear-gradient(to right, #ffb3ff -8%,  #f5f0f4 5%,  #f5f0f4 95%, #3366ff 120%);;
}
.main {
  background: linear-gradient(to right, #FA1E64, #2B00F7);
}

.main > h1 {
  font-weight: 900;
  font-size: 2em;
}

.md-button.md-raised.basicButton {
  background: linear-gradient(30deg, #ffb3ff, #3366ff);
  border-radius: 0;
}

div.customToolBar{
  color: white;
  background-color: #3a1f63;
  height: 40px;
}

div.customToolBar button{
  height: 45px;
  border-radius: 0;
}
