

<header layout = 'row' layout-align="space-between center" class = 'votingHeader'>
  <slide-menu></slide-menu>
  
  <div>
    <div class="votingLogo">Persona</div>
  </div>
  
  <div>
    the user picture will be here
  </div>

</header>

<div>
  <div class = "browseDisplay">
    <div ng-repeat="person in users.data" class="searchEntry">
      <div class="browseImageHex" ng-click="selectUser(person.id)">
        <div class="top"></div>
        <div class="middle">what is this?</div>
        <div class="bottom"></div>
      </div>
      <md-button class="md-raised" ng-click="selectUser(person.id)">{{person.username}}</md-button>
    </div>
  </div>
</div>
