<slide-menu class = 'sideMenu'></slide-menu>

<div layout="row" layout-align="center center" class='statNControl'>
  <div layout='column' layout-align='center center'>
    <div class="userNameField" layout='row'>
      <span class='userName firstName'>{{firstName}}</span>
      <span class='userName lastName'>{{lastName}}</span>
    </div>
    <analysis class = 'opinion'></analysis>
    <md-button class="bauhausButton" ngclipboard data-clipboard-text="https://whatispersona.herokuapp.com/#/id/{{myID}}">
      Copy This Link
    </md-button>
  </div>
  <stat-display></stat-display>
</div>
