<div layout='column' layout-align="center center">
  <h1>Get Your Account Before It's Gone</h1>
  <form novalidate name="bigGuy" >

    <md-input-container >
      <input size="40" ng-model="userObj.username" placeholder='Your Fancy Account Name:'  required>
    </md-input-container>
    <md-input-container>
      <input size="40" ng-model="userObj.password" placeholder='Pick A Smarty Password:' type='password' required>
    </md-input-container>
    <md-input-container>
      <input size="40" ng-model="userObj.confirm" placeholder='Re-Enter That Password:' type='password' required>
    </md-input-container>
    <md-input-container>
      <input size="40" ng-model="userObj.firstName" placeholder='First Name:' type='text' required>
    </md-input-container>
    <md-input-container>
      <input size="40" ng-model="userObj.lastName" placeholder='Last Name' type='text' required>
    </md-input-container>
    <md-input-container>
      <input size="40" ng-model='userObj.email' placeholder='Your Very Important E-mail:' type='email' required>
    </md-input-container>

  </form>
  <div layout='column'>
    <md-button class="md-raised basicButton" ng-click="register(userObj)" ng-disabled = "!(emailCheck(userObj.email))">click to submit</md-button>
    <h2>Still Can't Decide?</h2>
    <md-button class="md-raised basicButton" ng-click="goToBrowse()">Here's More Juicy Stuff</md-button>
  </div>
</div>
